*{
  font-family: 'Work Sans', sans-serif;
  margin: 0rem;
  
}
.navication{
    height: 5rem;
    padding: 0rem 7.5rem;
    background-color:white;
       
}
.navbar{
        display: flex;
        align-items: center;
        gap: 1rem;
        
        
}
h3{
    font-size:2.8rem ;
}
nav{
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.span{
    color:deeppink;
}
ul,a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.list{
    display: flex;
    margin-right:2rem;
    align-items: center;
}
.nav{
    display: flex;
    margin-right:2rem ;
    gap: 2rem;
    
}
button{
    height: 2.5rem;
    padding:10px 5px;
    border-radius: 5px;
    border:none;
    background-color: rgb(209, 202, 202);
    width:12rem;
    font-size: 1rem;
    
}
 .header{
     /* border: 2px solid red; */
   width: 56.5rem;
    background-image: url("./images/Group\ 14.png");
    background-position:left;
    background-repeat: no-repeat;
    height:44rem;
    
 padding-left: 15rem;
 }
 .head-nav{
   background-color:rgba(250, 249, 249, 0.801);
   display: flex;
   justify-content: space-between;
   max-width:1500px ;
   
 }
 h2{
    font-size: 2rem;
    padding-top: 14rem;
    
 }
 h1{
    font-size: 4rem;
    
    color: rgba(249, 31, 238, 0.7);
    margin:.8rem 0rem;
    padding-top: 1rem;
    
    
 }

 p{
    margin-top: .5rem;
 }
 .lower-btn{
    border-radius:1.5rem;
    background-color:rgb(222, 65, 149);
    width: 6rem;
    padding: .5rem;
    color: white;
    
 }
 .side-btn{
    border-radius:1.5rem;
    background-color:rgb(97, 193, 231);
    width: 7rem;
    padding: .5rem;
    color: white;
    
 }
 .button{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1.5rem;
   
 }
.images{
  display: flex;
  padding:2rem 2.5rem 2rem 2.5rem  ;
  justify-content: space-around;
  
}
.title{
  text-align: center;
  margin: 3rem 0rem 1rem 0rem;
}
h4{
  font-size: 2.5rem;
  font-weight: bolder;
}
span{
  color: rgba(249, 31, 238,.7);
}
.card{
width: 80%;
}



 @media  screen and (max-width:576px) {
 .navication{
   padding:.5rem 0rem 0rem 1.5rem;
 }
 
 .navication,.list,.nav{
   flex-direction: column;
   gap: 5px;
 }
 .head-nav{
   flex-direction: column-reverse;
   margin-top:6rem ;
   max-width: 900px;
 }
 .img{
   width: 80%;
   padding-left: 2.5rem;
 }
 .list{
   gap: 1rem;
 }
 .navication{
   font-size: 1rem;
   
 }
 .header{
   height: 7rem;
   padding-left: 5rem;
   width:20rem ;
   padding-bottom: 15rem;
 }
 
 h1{
   font-size: 3rem;
 }
 h2{padding-top: 2rem;

 }
 .title{
  padding-left: 5px;
  padding-right: 5px;
 }
 h4{
  font-size: 1.5rem;
 }
 .paragraph{
  font-size: 12px;
 }
 .images{
  flex-direction: column;
  padding-right: 8px ;
 }
 }
 @media screen and (min-width:576px) and (max-width:1300px) {
   h2{
      padding-top: 2rem;
   }
   .header{
      padding-bottom: 10rem;
      padding-left: 5rem;
      height: 25rem;
      width:22rem ;
   }
   .head-nav{
      max-width: 1000px;
   }
   .navication{
    justify-content: center;
    padding-left:.25rem;
    
   }
   .nav{
    gap: 1rem;
    margin-right: 1rem;
   }
   .images{
    flex-direction: column;
    padding-left: 22rem;
    padding-right: 10rem;
   }
 }