*{
  font-family: 'Work Sans', sans-serif;
  margin: 0rem;
  
}
.navication{
    height: 5rem;
    padding: 0rem 7.5rem;
    background-color:white;
       
}
.navbar{
        display: flex;
        align-items: center;
        gap: 1rem;
        
        
}
h3{
    font-size:2.8rem ;
}
nav{
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.span{
    color:deeppink;
}
ul,a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.list{
    display: flex;
    margin-right:2rem;
    align-items: center;
}
.nav{
    display: flex;
    margin-right:2rem ;
    gap: 2rem;
    
}
button{
    height: 2.5rem;
    padding:.625rem .3125rem;
    border-radius: .3125rem;
    border:none;
    background-color: rgb(209, 202, 202);
    width:12rem;
    font-size: 1rem;
    
}
 .header{
     /* border: 2px solid red; */
   width: 56.5rem;
    background-image: url("./images/Group\ 14.png");
    background-position:left;
    background-repeat: no-repeat;
    height:44rem;
    
 padding-left: 15rem;
 }
 .head-nav{
   background-color:rgba(250, 249, 249, 0.801);
   display: flex;
   justify-content: space-between;
   max-width:94rem ;
   
 }
 h2{
    font-size: 2rem;
    padding-top: 14rem;
    
 }
 h1{
    font-size: 4rem;
    
    color: rgba(249, 31, 238, 0.7);
    margin:.8rem 0rem;
    padding-top: 1rem;
    
    
 }

 p{
    margin-top: .5rem;
 }
 .lower-btn{
    border-radius:1.5rem;
    background-color:rgb(222, 65, 149);
    width: 6rem;
    padding: .5rem;
    color: white;
    
 }
 .side-btn{
    border-radius:1.5rem;
    background-color:rgb(97, 193, 231);
    width: 7rem;
    padding: .5rem;
    color: white;
    
 }
 .button{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1.5rem;
   
 }
.images{
  display: flex;
  padding:2rem 2.5rem 2rem 2.5rem  ;
  justify-content: space-around;
  
}
.title{
  text-align: center;
  margin: 3rem 0rem 1rem 0rem;
}
h4{
  font-size: 2.5rem;
  font-weight: bolder;
}
span{
  color: rgba(249, 31, 238,.7);
}
#card{
width: 90%;
}
.section{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 94rem;
}
h5{
  font-size: 2.5rem;
}
#span{
      color: hotpink;
}
.man{
  width: 60%;
  padding-left:6rem ;
  
}
.doll{
  width: 30%;
  position: relative;
  bottom: 12rem;

  
}
.main{
      padding-left: 25rem;
      text-align: end;
      padding-top: 9rem;      
}
footer{
  max-width: 94rem;
  background-color:rgb(11, 2, 60);
  
}
.h3{
  color: white;
}
.first,.second,.third{
  margin-top: 3rem;
}
#navbar{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding:6rem 12rem 0rem 37rem;
}
#first,#second,#third{
  display: flex;
  align-items: center;
  
}
#second{
  color: white;
  font-size: 2rem;
  padding: 0rem 12rem 0rem 36rem;
  gap: 6.5rem;
}
#first{
  padding: 0rem 12rem 0rem 27rem;
  gap: 1.5rem;
  color: white;
}
#third,.footer{
  color:darkgray;
  margin-top: 1rem;
  font-size: .8rem;
}
#third{
  padding: 0rem 12rem 0rem 29.5rem;
  gap: 1.5rem;
}
.footer{
  padding:0rem 12rem 6rem 34rem;
}

 @media  screen and (max-width:576px) {
 .navication{
   padding:.5rem 0rem 0rem 1.5rem;
 }
 
 .navication,.list,.nav{
   flex-direction: column;
   gap: .3125rem;
 }
 .head-nav{
   flex-direction: column-reverse;
   margin-top:6rem ;
   max-width: 50rem;
   background-color: white;
 }
 .main-section{
  max-width:50rem;
 }
 .section{
  max-width:50rem;
 }
 .img{
   width: 80%;
   padding-left: 1rem;
 
 }
  .list{
     gap: 1rem;
   padding-right: 1.5rem;
  }
 .navication{
   font-size: 1rem;
   
 }
 .header{
   height: 7rem;
   padding-left: 8rem;
   width:30rem ;
   padding-bottom: 15rem;
 }
 
 h1{
   font-size: 3rem;
 }
 h2{padding-top: 2rem;

 }
 .title{
  padding-left: .3125rem;
  padding-right: .3125rem;
 }
 h4{
  font-size: 1.5rem;
 }
 .paragraph{
  font-size: .75rem;
 }
 .images{
  flex-direction: column;
  padding-right:0rem ;
  padding-left: 4rem;
 }
 .section{
  flex-direction: column;
  margin-top: 0rem;
  padding-left:3.125rem;
  padding-right:0rem;
 }
 h5{
  font-size: 1.5rem;
  margin-bottom: 1rem;
 }
 .man{
  width: 50%;
  margin-top: 1rem;
 }
 .doll{
  width: 25%;
  bottom: 8rem;
  padding-left:2.1875rem ;
  padding-right: 0rem;
 }
 .main{
  padding-right: 8rem;
  padding-left: 0rem;
  text-align: center;
 }
 h3{
  font-size: 2rem;
  padding-right:2.5rem ;
 }
 footer{
  width: 55.5rem;
 }
 #navbar{
  padding-left: 22rem;
  padding-right: 0rem;
 }
 #first{
  padding-left: 10.5rem;
  padding-right:0rem;
 }
 #second{
  padding-left: 19rem;
  padding-right: 0rem;
 }
 #third{
  padding-left: 13rem;
  padding-right: 0rem;
 }
 .footer{
        padding-left:17rem ;
        padding-right: 0rem;
 }
 }
 @media screen and (min-width:576px) and (max-width:1300px) {
   h2{
      padding-top: 2rem;
   }
   #navbar{
    padding-left:24rem ;
    
   }
   #first{
    padding-left:15rem;
   }
   #second{
    padding-left:20rem ;
   }
   #third{
    padding-left:17rem ;
   }
   .footer{
    padding-bottom: 16rem;
    padding-left:21rem;
   }
   .header{
      padding-bottom:0rem;
      padding-top:4rem ;
      padding-left: 5rem;
      height: 25rem;
      width:28rem ;
   }
   .nav{
     flex-direction: column;
   }
   .list,.navication{
    flex-direction: column;
    margin-top: 1rem;
    padding-left: 0rem;
    padding-right: 11rem;
   }
  .navbar{
    padding-left: 0rem;
    padding-right: 12rem;
    margin-top: 5rem;
  }
   .head-nav{
      max-width: 56.25rem;
      margin-top: 4rem;
   }
   .navication{
    justify-content: center;
    padding-left:.25rem;

   }
   button{
    margin-top: 1rem;
    
   }
   .section{
    flex-direction: column;
    max-width:56.25rem;
    padding-left:13rem;
   }
   .doll{
    width: 20%;
   }
   .man{
    width: 40%;
   }

   .play{
    margin-top: 2rem;
    margin-bottom: 2rem;
   }
h5{
  font-size: 2rem;
}
.main{
  padding-left:0rem;
  padding-right:28rem;
  text-align: center;
}

   .nav{
    gap: 1rem;
    margin-right: 1rem;
   }
   .images{
    flex-direction: column;
    padding-left: 15rem;
    padding-right: 10rem;
   }
   .main-section{
    max-width: 53.125rem;
    padding-left:0rem;
    padding-right:15rem;
   }

 }