*{
  font-family: 'Work Sans', sans-serif;
  margin: 0rem;
  
}
.navigation{
    height: 5rem;
    padding: 0rem 7.5rem;
    background-color:white;
       
}
.navbar{
        display: flex;
        align-items: center;
        gap: 1rem;
        
        
}

h3{
    font-size:2.8rem ;
}
nav{
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.span{
    color:deeppink;
}
ul,a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.list{
    display: flex;
    margin-right:2rem;
    align-items: center;
}
.nav{
    display: flex;
    margin-right:2rem ;
    gap: 2rem;
    
}
button{
    height: 2.5rem;
    padding:.625rem .3125rem;
    border-radius: .3125rem;
    border:none;
    background-color: rgb(209, 202, 202);
    width:12rem;
    font-size: 1rem;
    
}
 .header{
     /* border: 2px solid red; */
   width: 56.5rem;
    background-image: url("./images/Group\ 14.png");
    background-position:left;
    background-repeat: no-repeat;
    height:44rem;
    
 padding-left: 15rem;
 }
 .head-nav{
   background-color:rgba(250, 249, 249, 0.801);
   display: flex;
   justify-content: space-between;
   max-width:94rem ;
   
 }
 h2{
    font-size: 2rem;
    padding-top: 14rem;
    
 }
 h1{
    font-size: 4rem;
    
    color: rgba(249, 31, 238, 0.7);
    margin:.8rem 0rem;
    padding-top: 1rem;
    
    
 }

 p{
    margin-top: .5rem;
 }
 .lower-btn{
    border-radius:1.5rem;
    background-color:rgb(222, 65, 149);
    width: 6rem;
    padding: .5rem;
    color: white;
    
 }
 .side-btn{
    border-radius:1.5rem;
    background-color:rgb(97, 193, 231);
    width: 7rem;
    padding: .5rem;
    color: white;
    
 }
 .button{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1.5rem;
   
 }
.images{
  display: flex;
  padding:2rem 2.5rem 2rem 2.5rem  ;
  justify-content: space-around;
  
}
.title{
  text-align: center;
  margin: 3rem 0rem 1rem 0rem;
}
h4{
  font-size: 2.5rem;
  font-weight: bolder;
}
span{
  color: rgba(249, 31, 238,.7);

}
#card{
width:90%;


}

#card:hover{
  border:3px solid rgb(235, 9, 122) ;
  background-color: overlay;
  background-color: rgba(42, 40, 40, 0.518);
}


.section{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 94rem;
}
h5{
  font-size: 2.5rem;
}
#span{
      color: hotpink;
}
.man{
  width: 60%;
  padding-left:6rem ;
  
}
.doll{
  width: 30%;
  position: relative;
  bottom: 12rem;

  
}
.main{
      padding-left: 25rem;
      text-align: end;
      padding-top: 9rem;      
}
footer{
  max-width: 94rem;
  background-color:rgb(11, 2, 60);
  
}
.h3{
  color: white;
}
.first,.second,.third{
  margin-top: 3rem;
}
#navbar{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding:6rem 10rem 0rem 36rem;
}
#first,#third{
  display: flex;
  align-items: center;
}  
.second{

padding-left: 30rem;
padding-right: 0rem;
}
.seconds{
  color: white;
  font-size: 2rem;
  padding: 0rem 1rem 0rem .7rem;
  border-radius:3rem;
  gap: 6.5rem;
  height: 3rem;
  width: 3rem;
  background-color: rgb(11, 2, 60);
  margin-left: 5rem;

}

#first{
  padding: 0rem 12rem 0rem 27rem;
  gap: 1.5rem;
  color: white;
}
#third,.footer{
  color:darkgray;
  margin-top: 1rem;
  font-size: .8rem;
}
#third{
  padding: 0rem 12rem 0rem 29.5rem;
  gap: 1.5rem;
}
.footer{
  padding:0rem 12rem 6rem 34rem;
}

.buttons{
  background-color:lavenderblush;
  margin-bottom: rem;
  max-width:94rem;
  padding-top: 16rem;
  height:30rem;
 text-align: center;
}

.one{
     height:4rem;
     background-color:rgb(251, 246, 246);
     width:max-content;
     border-radius:3rem;
     display: inline;
     margin-right: 1.5rem;
     font-size: 1rem;
     font-weight: bold;
}
.one:hover{
  color: rgb(225, 45, 135);
  border:1px solid rgb(238, 15, 127);
}
.div{
  margin-top: 2rem;
}
.one img{
  width:22%;
}
 @media  screen and (max-width:576px) {
 .navigation{
   padding:2rem 5rem 0rem 0rem;
 }
 .navbar{
    margin-left: 45rem;
}
 .navigation,.list,.nav{
   flex-direction: column;
   gap: .3125rem;
 }
 .sidebar{
  margin-left: 5rem;
 }
 .head-nav{
   flex-direction: column-reverse;
   margin-top:3rem ;
   max-width: 58rem;
   background-color: white;
   justify-content: center;
   margin-left: 18rem;
 }
 .main-section{
  max-width:50rem;
 }
 
 .section{
  max-width:58rem;
  flex-direction: column;
 }
 .img{
   width: 200%;
   padding-left: 5rem;
   padding-top: 5rem;
  }
 .i{
  margin-left:3rem ;
 }
  .list{
     gap: 1rem;
     margin-left:40rem;
  }
  .main{
    padding: 1rem 5rem 0rem 5rem;
    text-align: center;
    margin: 0 8rem 0 0 ;
    height: 20rem;
    width: 40rem;
  }
  .nav{
    margin-left: 2rem;
  }
 .navigation{
   font-size: 1rem;
   }
 .header{
   height: 7rem;
  max-width:50rem ;
  height: 20rem;
  font-size:1rem;
   padding-bottom: 5rem;
  
   
 }
 h4{
  font-size: 1.5rem;
 }
 .man{
  width: 100%;
  padding: 0rem 0rem 0rem 10rem;
  height: rem;
 }
 .doll{
  width: 60%;
  height: rem;
  bottom: 15rem;
  padding: 0 0 0 8rem;
 }
 h1{
   font-size: 3rem;
 }
 h2{padding-top: 2rem;

 }
 
 h4{
  font-size: 2rem;
 }
 .paragraph{
  font-size: 1rem;
 }
 .images{
  flex-direction: column;
  max-width: 54rem;
  margin-left:0rem;
  margin-right:15rem;
  width: 150%;
  padding-right: 10rem;

 }
#card{
  width: 100%;
}
.card p{
  font-size: 2rem;
  
}
 
 h5{
  font-size: 1.5rem;
  margin-bottom: 1rem;
 }
 
 
 
 h3{
  font-size: 2rem;
  padding-right:2.5rem ;
 }
 footer{
  width: 57rem;
 }
 #navbar{
  margin-left: 0rem;
  margin-right:30rem;
  gap:1rem;
}
.title{
  height:2rem;
  width: 54rem;
  /* border: 2px solid red; */
  
}

 #first{
  padding-left:0rem;
  padding-right:7rem;
  margin: 0;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3,100px );
 }
 .first{
  margin-left:3rem;
  margin-right:13rem;
 }
 .second{
  display: flex;
  padding-right:0rem ;
  padding-left: 23rem;
 }
 .seconds{
  padding-right: .5rem;
  margin-left: 0rem;
  margin-top: 1.5rem;
  margin-right:6rem ;
 }
 #third{
  display: grid;
  grid-template-columns: repeat(2,200px);
  font-size: 1rem;
 }
 .third{
  margin-left:1rem;
  justify-content: space-around;
  padding-right: 15rem;
 }
 .footer{
  margin-left: 0rem;
  margin-right:6rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  padding-left:5rem;
  padding-right: 11rem;
 }
.buttons{
  flex-wrap: wrap;
  width: 57rem;
  height: max-content;
  padding-top: 10rem;
} 
.class{
  padding-top: 0rem;
  padding-bottom: 2rem;
}
.div{
  padding-bottom: 6rem;
}
.main-section{
  margin-right: 4rem;
}
 .title{
  text-align: center;
 }
 }
 @media screen and (min-width:576px) and (max-width:1300px) {
   h2{
      padding-top: 2rem;
   }
   #navbar{
    padding-left:26rem ;
    
   }
   #first{
    padding-left:15rem;
   }
   
   .second{
    padding-left: 17rem;
   }
   #third{
    padding-left:17rem ;
   }
   .footer{
    padding-bottom: 16rem;
    padding-left:21rem;
   }
   .header{
      padding-bottom:0rem;
      padding-top:4rem ;
      padding-left: 5rem;
      height: 25rem;
      width:28rem ;
   }
   .nav{
     flex-direction: column;
   }
   .list,.navigation{
    flex-direction: column;
    margin-top: 1rem;
    padding-left: 0rem;
    padding-right: 11rem;
   }
  .navbar{
    padding-left: 0rem;
    padding-right: 12rem;
    margin-top: 5rem;
  }
   .head-nav{
      max-width: 60rem;
      margin-top: 6rem;
   }
   .navigation{
    justify-content: center;
    padding-left:.25rem;

   }
   button{
    margin-top: 1rem;
    
   }
   .section{
    flex-direction: column;
    max-width:56.25rem;
    padding-left:13rem;
   }
   .doll{
    width: 20%;
   }
   .man{
    width: 40%;
   }

   .play{
    margin-top: 2rem;
    margin-bottom: 2rem;
   }
h5{
  font-size: 2rem;
}
.main{
  padding-left:0rem;
  padding-right:28rem;
  text-align: center;
}

   .nav{
    gap: 1rem;
    margin-right: 1rem;
   }
   .images{
    flex-direction: column;
    padding-left: 15rem;
    padding-right: 10rem;
   }
   .main-section{
    max-width: 53.125rem;
    padding-left:0rem;
    padding-right:15rem;
   }

 }